{% extends 'admin/admin_base.html' %}

{% block title %}Add New Category{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Page Title -->
    <h1 class="text-primary text-center mb-4">Add New Category</h1>

    <!-- Category Form -->
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Category Details</h5>

            <form method="POST" class="mb-4" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Display the form fields -->
                {{ form.as_p }}

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Add Category</button>
            </form>

        </div>
    </div>
    <!-- Back Link -->
    <a href="{% url 'admin_category_list' %}" class="btn btn-primary my-3">Back to Categories</a>
</div>
{% endblock %}
