{% extends 'admin/admin_base.html' %}

{% block title %}Add New Post{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Page Title -->
    <h1 class="text-primary text-center mb-4">Add New Post</h1>

    <!-- Post Form -->
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Post Details</h5>

            <!-- Post Form -->
            <form method="POST" enctype="multipart/form-data" class="mb-4">
                {% csrf_token %}
                {{ form.as_p }}

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Add Post</button>
            </form>
        </div>
    </div>

    <!-- Back Link -->
    <a href="{% url 'admin_own_post' %}" class="btn btn-primary my-3">Back to My Posts</a>
</div>
{% endblock %}
